//---GLOBAL---

//--Colors
$white-color: #FFF;
$main-text-color: #636060;
$red-color: #c0301c;
$black-color: #000;


//--Fonts
$font-montserrat: 'Montserrat', sans-serif;

//--Header
$header-bg: #f6f7f6;
$header-color: #010101;

//--Contact 
$form-bd-color: #d6d6d6;
$field-bg-color: #f2f2f2;
$field-text-color: #c0c0c0;
$warning-color: #f2ba59;  


//--Footer
//--Header
$footer-bg: #202020;
$footer-color: #f5f5f5;